<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <a href="/help.html"><p>Go to help page</p></a>
    <h1>{{scream welcomeMessage}}</h1>
    {{>footer}}
  </body>

</html>
